html {
    background-color:rgb(230, 205, 158);
    font-family:Arial, Helvetica, sans-serif;
    max-width: 80%;
}

.WorkshopTool {
    border: 5px outset black;
    align-content: center;
    inset: 1em;
}

.WorkshopTool img {
    align-self: center;
    width: 80%;
    height: 80%;
}

a:link {
    color: darkslategray;
}

a:visited {
    color:darkslategray;
}